html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.onTree {
    position: absolute;
    transform: rotate(-45deg);
}

.tree {
    z-index: 1;
}

.onTree:hover {
    /*background-color: red;*/
}

.apple {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.ground .row [data-position='bottom'] {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
}
.ground .row [data-position='middle'] {
    position: absolute;
    bottom: 40px;
    display: flex;
    width: 100%;
}

.ground .row [data-position='upper'] {
    position: absolute;
    bottom: 80px;
    display: flex;
    width: 100%;
}


.ground {
    position: absolute;
    bottom: -5px;
    display:flex;
    /*align-items: flex-end;*/
    padding: 75px 100px 0 100px;
    width: 80%;
    flex-direction: column;
}

.apple-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-right: 20px;
}

div.callout {
    background-color: #444;
    background-image: -moz-linear-gradient(top, #444, #444);
    color: #ccc;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 20px #999;
    margin: 25px;
    min-height: 50px;
    border: 1px solid #333;
    text-shadow: 0 0 1px #000;
    height: 60px;
    float: left;
    display: none;
    position: absolute;
    left: -140px;
    top: -95px;
    width: 150px;
    z-index: 2;
}

.callout::before {
    content: "";
    width: 0;
    height: 0;
    border: 0.8em solid transparent;
    position: absolute;
}

.callout.top::before {
    left: 45%;
    bottom: -20px;
    border-top: 10px solid #444;
}

/* .callout.bottom::before {
     left: 45%;
     top: -20px;
     border-bottom: 10px solid #444;
 }

 .callout.left::before {
     right: -20px;
     top: 40%;
     border-left: 10px solid #444;
 }

 .callout.right::before {
     left: -20px;
     top: 40%;
     border-right: 10px solid #444;
 }

 .callout.top-left::before {
     left: 7px;
     bottom: -20px;
     border-top: 10px solid #444;
 }*/

.callout.top-right::before {
    right: 7px;
    bottom: -20px;
    border-top: 10px solid #444;
}
